<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package ID="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net461" />
  <package ID="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package ID="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package ID="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package ID="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net461" />
  <package ID="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package ID="Microsoft.CodeDom.ProvIDers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net461" />
  <package ID="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package ID="MySql.Data" version="6.10.4" targetFramework="net461" />
  <package ID="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
</packages>